/* Extra Small Devices (Phones, 576px and below) */
@media screen and (max-width: 767px) {
    .container {
        width: 100%;
        padding: 0 15px;
        margin: 0 auto;
    }

    /* Show Hamburger Icon, Hide Navigation Menu by Default */
    .hamburger {
        display: block;
    }

    .nav_menu {
        display: none;
        /* Hidden by default */
    }

    .search_bar {
        display: none;
    }

    /* hero section starts */

    .hero_sec {
        margin-bottom: 60px;
    }

    .hero_main_sec {
        flex-direction: column-reverse;
    }

    .hero_content {
        text-align: center;
    }

    .hero_heading_contnet h2 {
        font-size: 35px;
        line-height: 60px;
        margin-bottom: 8px;
    }

    .hero_btns .hero_process {
        margin-top: 20px;
        margin-left: 0;
    }

    /* hero section ends */

    /* what we serve section starts */

    .what_we_serve_sec {
        padding: 80px 0;
    }

    .what_we_serve_sec h2 {
        font-size: 27px;
        margin-top: 20px;
    }

    .what_we_serve_cards {
        margin-top: 50px;
    }

    /* what we serve section ends */

    /* why choose us section starts */

    .why_choose_us_sec {
        padding: 40px 0;
    }

    .why_choose_us_main_sec {
        flex-direction: column;
        gap: 30px;
    }

    .why_choose_us_img img {
        width: 100%;
    }

    .why_choose_us_content {
        text-align: center;
    }

    .why_choose_us_content h2 {
        font-size: 30px;
        width: 100%;
    }

    /* why choose us section ends */

    /* home delivery section starts */

    .home_delivery_main_sec {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .home_delivery_img img {
        width: 100%;
    }

    .home_delivery_content {
        text-align: center;
    }

    .home_delivery_content h2 {
        font-size: 35px;
        width: 100%;
    }

    .home_delivery_content p {
        width: 100%;
    }

    /* home delivery section ends */

    /* download appp section starts */

    .download_app_sec {
        padding: 50px 0;
    }

    .download_app_main_sec {
        flex-direction: column;
        gap: 50px;
    }

    .download_app_img img {
        width: 100%;
    }

    .download_app_content {
        text-align: center;
    }

    .download_app_content h2 {
        font-size: 30px;
    }

    .download_app_content p {
        width: 100%;
        text-align: center;
    }

    .download_btns {
        margin-top: 40px;
        justify-content: center;
    }

    /* download appp section ends */


    /* footer section starts */
    .footer_main {
        padding: 40px 20px;
        align-items: center;
        row-gap: 30px;
        flex-direction: column;
    }

    .footer_logo_sec {
        text-align: center;
        margin-right: 0;
    }

    .footer_content {
        text-align: center;
    }

    .footer_company_links {
        text-align: center;
    }

    .footer_service_links {
        text-align: center;
    }

    .footer_logo_sec p {
        width: 100%;
    }

    .footer_content p {
        width: 100%;
    }

    /* copyright starts */

    .copyright_main {
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        align-items: center;
    }

    /* copyright ends */
}



/* Small Devices (Phones, 577px to 767px) */
@media screen and (min-width: 577px) and (max-width: 767px) {
    .container {
        padding: 0 15px;
    }

    /* Show Hamburger Icon, Hide Navigation Menu by Default */
    .hamburger {
        display: block;
    }

    .nav_menu {
        display: none;
        /* Hidden by default */
    }

    .search_bar {
        display: none;
    }

    /* hero section starts */
    .hero_main_sec {
        flex-direction: column-reverse;
    }

    .hero_content {
        text-align: center;
    }

    .hero_heading_contnet h2 {
        font-size: 50px;
    }

    .hero_btns .hero_process {
        margin-top: 20px;
        margin-left: 0;
    }

    /* hero section ends */
}