@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: rgba(255, 255, 255, 1);
}

.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
}

/* Extra Large Devices (Desktops, 1200px and above) */
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
        margin: 0 auto;
    }
}

/* border starts*/

.border {
    border-radius: 60px;
}

/* border ends */

/* header starts */

.header_main {
    margin-top: 32px;
    height: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_menu ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.nav_menu ul li a {
    text-decoration: none;
    color: rgba(77, 77, 77, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
}

.nav_menu ul li .home {
    font-weight: 600;
    color: rgba(245, 82, 83, 1);
}

.search_bar {
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    background: rgba(255, 255, 255, 1);
    padding: 19px 20px;
}

.search_bar .fa-magnifying-glass {
    color: rgba(139, 139, 139, 1);
    vertical-align: middle;
    margin-right: 8px;
}

.search_bar input {
    border: none;
    outline: none;
    background: transparent;

}

.search_bar input::placeholder {
    color: rgba(35, 35, 35, 1);
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
}

.search_bar .border_left {
    border-left: 1.5px solid rgba(242, 242, 242, 1);
    margin-right: 16px;
}

.search_bar button {
    border: none;
    background: transparent;
}

.search_bar button i {
    font-size: 22px;
    color: rgba(60, 55, 55, 1);
}

/* Hamburger Icon (Hidden on Desktop) */
.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* header ends */

/* main starts */

/* hero section starts */

.hero_sec {
    margin-top: 39px;
    margin-bottom: 140px;
}

.hero_main_sec {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 38px;
}

.hero_content {
    flex: 1;
}

.hero_content_btn button {
    padding: 10px 20px;
    background: rgba(253, 236, 236, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    vertical-align: middle;
    border: none;
    border-radius: 23px;
    color: rgba(245, 85, 86, 1);
}

.hero_content button img {
    width: 26px;
    height: 24px;
    vertical-align: middle;
}

.hero_heading_contnet h2 {
    font-weight: 700;
    font-size: 70px;
    line-height: 88px;
}

.hero_heading_contnet span {
    color: rgba(245, 71, 72, 1);
}

.hero_heading_contnet p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: rgba(103, 103, 103, 1);
}

.hero_btns {
    margin-top: 60px;
}

.hero_order {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    background: rgba(248, 96, 97, 1);
    border-radius: 12px;
    padding: 25px 40px;
    border: none;
    color: rgba(255, 250, 250, 1);

}

.hero_process {
    margin-left: 34px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    background: rgba(255, 250, 250, 1);
    border-radius: 12px;
    padding: 25px 40px;
    border: none;
    color: rgba(54, 54, 54, 1);
}

.hero_image {
    flex: 1;
}

.hero_image img {
    width: 100%;
}

/* hero section ends */

/* what we serve section starts */
.what_we_serve_sec {
    background: rgba(254, 245, 245, 1);
    padding: 100px 0;
}

.what_we_serve_content {
    text-align: center;
}

.what_we_serve_content h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: rgba(245, 71, 72, 1);
    margin-bottom: 8px;
}

.what_we_serve_content h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    text-transform: capitalize;
    color: rgba(46, 46, 46, 1);
}

.what_we_serve_cards {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    align-items: center;
}

.what_we_serve_card {
    width: 300px;
    height: 310px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.04);
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.what_we_serve_card h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    text-align: center;
    color: rgba(46, 46, 46, 1);
}

.what_we_serve_card p {
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: rgba(103, 103, 103, 1);
    margin-top: 14px;
    padding: 0 20px;
}

/* what we serve section ends */

/* why choose us section starts */
.why_choose_us_sec {
    padding: 80px 0;
}

.why_choose_us_main_sec {
    display: flex;
    justify-content: center;
    align-items: center;
}

.why_choose_us_content h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: rgba(3, 166, 107, 1);
}

.why_choose_us_content h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    text-transform: capitalize;
    color: rgba(46, 46, 46, 1);
    width: 394px;
    margin-top: 8px;
}

.why_choose_us_content p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: rgba(103, 103, 103, 1);
    margin-top: 22px;
}

.why_choose_us_content button {
    padding: 25px 40px;
    background: rgba(248, 96, 97, 1);
    border: none;
    border-radius: 12px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: rgba(255, 250, 250, 1);
    margin-top: 50px;
}

/* why choose us section ends */

/* home delivery section starts */

.home_delivery_sec {
    padding: 50px 0;
}

.home_delivery_main_sec {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.home_delivery_content h3 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1%;
    color: rgba(249, 186, 69, 1);
    margin-bottom: 8px;
}

.home_delivery_content h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    width: 519px;
    text-transform: capitalize;

}

.home_delivery_content p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: rgba(103, 103, 103, 1);
    margin-top: 22px;
    width: 465px;
}

.home_delivery_content button {
    padding: 25px 40px;
    background: transparent;
    border: 1.5px solid rgba(248, 96, 97, 1);
    border-radius: 12px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: rgba(248, 96, 97, 1);
    margin-top: 50px;
}

/* home delivery section ends */

/* download appp section starts */

.download_app_sec {
    padding: 100px 0;
    background: rgba(254, 245, 245, 1);
}

.download_app_main_sec {
    display: flex;
    justify-content: center;
    align-items: center;
}

.download_app_img {
    flex: 1;
}

.download_app_content {
    flex: 1;
}

.download_app_content h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1%;
    color: rgba(245, 71, 72, 1);
}

.download_app_content h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: rgba(46, 46, 46, 1);
    margin-top: 8px;
}

.download_app_content p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: rgba(103, 103, 103, 1);
    width: 466px;
    margin-top: 22px;
}

.download_btns {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.download_btns button {
    border: 1.5px solid rgba(238, 220, 220, 1);
    border-radius: 12px;
    padding: 18px 20px;
    background: transparent;
}

.download_btns button img {
    vertical-align: middle;
}

.download_btns button span {
    margin-left: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: rgba(46, 46, 46, 1);
    vertical-align: middle;
}

/* download appp section ends */

/* main ends */

/* footer starts */

.footer_main {
    padding: 72px 0 80px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer_logo_sec {
    margin-right: 72px;
}

.footer_logo_sec p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 266px;
    color: rgba(103, 103, 103, 1);
    margin-top: 25px;
}

.footer_company_links ul {
    list-style: none;
}

.footer_company_links h3 {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: rgba(46, 46, 46, 1);
    margin-top: 16px;
}

.footer_company_links ul li a {
    text-decoration: none;
    margin: 10px 0;
    color: rgba(103, 103, 103, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
}

.footer_service_links ul {
    list-style: none;
}

.footer_service_links h3 {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: rgba(46, 46, 46, 1);
    margin-top: 16px;
}

.footer_service_links ul li a {
    text-decoration: none;
    margin: 10px 0;
    color: rgba(103, 103, 103, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
}

.footer_content h3 {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: rgba(46, 46, 46, 1);
    margin-top: 16px;
}

.footer_content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(136, 136, 136, 1);
    width: 191px;
}

/* copyright starts */

.copyright_main_content {
    border-top: 1px solid rgba(236, 236, 236, 1);
}

.copyright_content p{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: rgba(140, 140, 140, 1);

}

.copyright_main {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.copyright_links ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.copyright_links ul li a {
    text-decoration: none;
    color: rgba(116, 116, 116, 1);
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
}

/* copyright ends */

/* footer ends */